
body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 50px
}

main {
    flex: 1 calc(100vh - 80px)
}

footer {
    flex: 0 30px;
}

#popup {
    background-color: rgb(209, 221, 221);
    border-radius: 5px;
}

#background-image {
    background-image: url('images/background3.png');
    background-repeat: no-repeat;
    scale: 100%;
    /* filter: brightness(300%); */
    background-position: center;
    border-radius: 50px;

}

#back {
    background-color: hsla(180, 15%, 84%, 0.651);
    border-radius: 10px;
    width: 50%;
}

@media (max-height: 600px) {
    header {
        display: none
    }
    footer {
        display: none
    }

    main {
        flex: 1 100vh;
    }

}